version: '3'

services:

  endpoint:
    build: ./
    expose:
      - "3000"
    ports:
      - "3000:3000"
    depends_on:
      - webserver
    networks:
      - app

  # webserver:
  #   image: nginx:mainline-alpine
  #   restart: unless-stopped
  #   ports:
  #     - "443:443"
  #   volumes:
  #     - ./nginx-conf:/etc/nginx/conf.d
  #     - /etc/letsencrypt:/etc/letsencrypt
  #   networks:
  #     - app
  #   command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

networks:
  app:
