version: '3'

services:

  endpoint:
    build:
      context: .
      dockerfile: ./Dockerfile
    expose:
      - "3000"
    ports:
      - "3000:3000"
    networks:
      - app

  gui:
    build:
      context: gui/
      dockerfile: Dockerfile
    expose:
      - "5000"
    ports:
      - "5000:5000"
    networks:
      - app

networks:
  app:
